<div class="jumbotron jumbotron-sm">
  <div class="container">
<div class="row">
    <div class="col-md-5">
      <img src="../../assets/img/author.jpg" alt="author"/>
    </div>
    <div class="col-md-5">
        <span>Hello, my name is Nikola Radovancev. <br/>This is school project for Angular.</span>
        <br/>For all questions contact me on : <a href="https://rs.linkedin.com/in/nikola-radovancev-b83516114">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
     
          
        

</div></div></div>